@use "src/Breakpoints" as bp
@use "src/globalStyles" as style

.project-div-container
    width: 80%
    margin: auto
    padding: 10px 0px 50px 0px
    //text-align: left
    transform: rotate(bp.$transform)
    @include bp.md
        width: 90%

.project-div-bg2
    background-color: white
    border-radius: 5px
    box-shadow: 5px 10px 13px black
    transform: rotate(-(bp.$transform))

.project-div-bg1
    background-color: white
    border-radius: 5px
    box-shadow: 5px 10px 13px black

.project-div-buttons
    float: left

.project-h2
    margin-bottom: 20px
    @include bp.lg
        margin-bottom: 30px
    @include bp.xl
        margin-bottom: 40px
    @include style.font-sub-header

.project-img
    width: 100%
    border: 2px solid black
    @include bp.md
        display: block
        width: 100%
    @include bp.lg
        display: block
        width: 300px
    @include bp.xl
        display: block
        width: 360px

.project-p
    @include style.font-body

p
    margin-block-start: 0px

.project-a
    margin: 0px 10px 0px 0px
    @include style.font-a
    @include style.circle-button
        padding: 6px

.project-ul
    margin: auto
    padding: 0px 0px 50px 0px
    list-style-type: none
    //display: inline-block
    @include bp.md
        padding: 0px 0px 0px 0px
        display: flex

.project-li-left
    @include bp.md
        display: inline
        float: left
        max-width: 50%

.project-li-right
    padding: 20px 0px 0px 0px
    @include bp.md
        display: inline
        //float: right
        //margin: auto
        width: 100%
        padding: 0px 0px 0px 20px
