@use "src/Breakpoints" as bp

.projects-div-container
    width: 90%
    margin: auto
    padding: 0px 0px 0px 0px
    text-align: left

.projects-div-section
    padding: 50px 0px 50px 0px

.projects-h1
    text-align: left
    width: 20%
