@use "src/Breakpoints" as bp

.projects-div-container
    //width: 90%
    margin: auto
    padding: 0px 0px 0px 0px
    text-align: left

.projects-div-section
    padding: 50px 0px 50px 0px

.projects-h1
    text-align: center
    font-size: 24pt
    @include bp.md
        font-size: 28pt
    @include bp.xl
        font-size: 32pt
    //vertical-align: middle

.projects-div-headerbg
    width: 50%
    background-color: #e0deff
    border-radius: 50%
    border-style: solid
    border-width: 1px
    border-color: black
    box-shadow: 5px 10px 0 black
    @include bp.sm
        width: 40%
    @include bp.lg
        width: 30%
    @include bp.xl
        width: 20%
