@use "src/Breakpoints" as bp

.about-div-bg2
    background-color: white
    border-radius: 5px
    box-shadow: 5px 10px 13px black
    transform: rotate(-(bp.$transform))

.about-div-bg1
    background-color: white
    border-radius: 5px
    box-shadow: 5px 10px 13px black

.about-div-container
    width: 80%
    margin: auto
    padding: 20px 0px 50px 0px
    text-align: left
    transform: rotate(bp.$transform)

.about-div-lists
//     margin: auto
//     display: flex
    

.about-ul
    margin: auto
//     @include bp.md
//         //margin: auto
//         display: inline-block
    
