@use "src/Breakpoints" as bp
$padding: 3px 7px 3px 7px

.float-nav-ul
    padding: 0px
    
.float-nav-li 
    list-style-type: none
    display: inline-block
    padding: $padding
     
.float-nav-li-route 
    list-style-type: none
    display: inline-block
    padding: $padding

.float-nav-a
    text-decoration: none
    @include bp.lg
        font-size: 20px
